<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Make or Break!
    </h1>

    <p>We've all been there. You made a plan weeks in advance, but the day comes by. You're too tired to follow through, or you simply don't want to go. But, it's always awkward to cancel or postpone the plan for no reason. With Make It or Break It, you can easily schedule a plan to as many people you want. After you make a plan, you can choose to break it. But the plan will only truly be broken if everyone clicks on "BREAK!". Otherwise, you have to rally and go through with it. Make a plan, and now you don't have to break it without the awkward conversation.</p>

    <a href="/user_sign_up">Sign up to start making plans!</a>
    
  </div>
</div>